include MANIFEST.in
include .editorconfig
include README.md
include .readthedocs.yaml
include .pre-commit-config.yaml
include noxfile.py
recursive-include docs *.rst *.py make.bat Makefile *.txt
recursive-include tests *.py *.json *.zip
recursive-include src *.py
